html {
  @include background(image-url("body-bg.jpg") no-repeat bottom #f4ffff);
  background-size: cover;
  min-height: 1000px;
}

.container {
  @include container;
}

.container#main {
  overflow: hidden;
  background-color: rgba(white,.75);
  min-height: 1000px;
  padding-bottom: 60px;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error, .notice, .alert {
  clear: both;
  margin: 10px;
  padding: 8px 35px 8px 35px;
  display: block;
  border: 1px solid grey;
  border-radius: 4px;
}

.error{
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert{
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.notice {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}