<h1>Cabins</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
</tr>
  </thead>
<tbody>
  <% @cabins.each do |cabin| %>
  <tr>
    <td><%= cabin.name %></td>
    <td>
      <%= link_to 'Edit', edit_cabin_path(cabin) %>
    </td>
  <% end %>
</tbody>
</table>

<%= link_to 'New Cabin', new_cabin_path, :class => "new-cabin blue-button button" %>
