<h1><%= @camp_season.year %> Season</h1>

<table class="table">
<% @camp_season.camp_sessions.order('number ASC').each do |session| %>
<tr>
  <td><%= link_to "Session #{session.number}", camp_session_path(session) %></td>
</tr>
<% end %>
</table>
