<h1>Cabin Assignments</h1>

<table>
<% @camp_sessions.each do |camp_session| %>
  <tr>
    <td><%= camp_session.number %></td>
    <td><%= link_to "Cabin Assignments", [camp_session, :cabin_assignments] %></td>
  </tr>
<% end %>
</table>